
    <!-- page container -->
    <div class="explore-container container-fluid">

        <!-- filter input container -->
        <div class="row explore-filter-container justify-content-center">

            <div class="col-sm-12 col-md-8 col-lg-6 search-form-container text-center">
                <form id="searchFormDiv" [ngbCollapse]="isCollapsed" #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)" class="searchform">
                    <div class="form-group">
                        <label for="sexual_preference">Sexual Preference</label>
                        <select id="sexual_preference" class="form-control" ngModel name="sexual_preference">
                    <option value="">Choose your Sexual Preference</option>
                    <option *ngFor="let sex of sexual_preferences" [value]="sex" >{{sex}}
                    </option>
                 </select>
                    </div>

                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" id="age.min" min="18" max="120" class="form-control" ngModel name="age.min" placeholder="Please input minimum age (18+)" required/>

                        <input type="number" id="age.max" min="18" max="120" class="form-control" ngModel name="age.max" placeholder="Please input max age (-120)" required/>
                    </div>

                    <div class="form-group">
                        <label>Popularity</label>
                        <input type="number" min=0 id="popularity.min" class="form-control" ngModel name="popularity.min" placeholder="Please input minimum popularity" required/>

                        <input type="number" min=0 id="popularity.max" class="form-control" ngModel name="popularity.max" placeholder="Please input max popularity" required/>
                    </div>

                    <div class="form-group">
                        <label for="radius">Location</label>
                        <input type="number" min=0 id="radius" class="form-control" ngModel name="radius" placeholder="Please input the radius in km of your Search" required/>
                    </div>


                    <div>
                        <ng-select [items]="interests" bindLabel="name" placeholder="Select interests" appendTo="body" multiple="true" id="interests" ngModel name="interests">
                        </ng-select>
                    </div>

                    <div>
                        <ng-select [items]="sortable" bindLabel="name" placeholder="Select fields to sort by" appendTo="body" multiple="true" id="sortable" ngModel name="sortable">
                        </ng-select>
                    </div>

                    <div class="search-profiles-button-container text-center">
                        <button class="btn btn-primary " (click)="changeText();isCollapsed = !isCollapsed" type="submit">Search Profiles </button>
                    </div>
                </form>

                <div class="py-3" *ngIf="formError">
                    <h6 class="text-danger">{{errorMessage}}</h6>
                </div>

                <button class="btn btn-primary blue-button text-center" role="button" aria-controls="searchFormDiv" (click)="changeText();isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
                    {{hideFilter}}
                </button>

            </div>

        </div>

        <!-- filter results conainer -->
        <a #profiletop name="profile-top" id="profile-top"></a>
        <div *ngIf="profiles && profilesShown.length > 0">
                    <!-- profile closing div -->

          <div class="mx-auto col-sm-12 col-md-8 col-lg-6">
            <app-profile-header *ngFor="let profile of profilesShown"
                                        [profile]="profile"
                                        [mode]="{visitor: true, edit: false, liked: isLiked(profile.id)}"
                                        (likeUserEvent)="likeProfile(profile.id)">
            </app-profile-header>
          </div>

                <div class=" pagination-container  d-flex justify-content-center p-2 hidden-xs">
                    <ngb-pagination class="pagination-responsive"
                                    [collectionSize]="collectionSize"
                                    [(page)]="page"
                                    [pageSize]="pageSize"
                                    (pageChange)="scrollToTop(profiletop);refreshProfiles()"
                                    [maxSize]="4"
                                    [rotate]="true"
                                    [ellipses]="false"
                                    [boundaryLinks]="false">
                    </ngb-pagination>

                    <select class="custom-select" [(ngModel)]="pageSize" (ngModelChange)="scrollToTop(profiletop);refreshProfiles()">
                      <option [ngValue]="10">10 items per page</option>
                      <option [ngValue]="25">25 items per page</option>
                      <option [ngValue]="50">50 items per page</option>
                    </select>
                </div>

        </div>
        <div *ngIf="profilesShown.length < 1" class="row no-profiles-found justify-content-center">
            <h4>Nothing to see here :( try a broad search to find your match</h4>
        </div>
    </div>
