<div class="row">
    <div class="col-3 offset-3">
      <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
        <div class="form-group">
          <label for="sexual_preference">Sexual Preference</label>
            <select id="sexual_preference"
                class="form-control"
                ngModel
                name="sexual_preference"
                >
                <option value="">Choose your Sexual Preference</option>
                <option *ngFor="let sex of sexual_preferences" [value]="sex" >{{sex}}
                </option>
             </select>
        </div>
  
        <div class="form-group">
          <label for="age">Age</label>
          <input
            type="number"
            id="age.min"
            class="form-control"
            ngModel
            name="age.min"
            placeholder="Please input minimum age"
            required/>

            <input
            type="number"
            min = 18
            id="age.max"
            class="form-control"
            ngModel
            name="age.max"
            placeholder="Please input max age"
            required/>
        </div>
  
        <div class="form-group">
            <label for="popularity">Popularity</label>
            <input
              type="number"
              min = 0
              id="popularity.min"
              class="form-control"
              ngModel
              name="popularity.min"
              placeholder="Please input minimum popularity"
              required/>
  
              <input
              type="number"
              min = 0
              id="popularity.max"
              class="form-control"
              ngModel
              name="popularity.max"
              placeholder="Please input max popularity"
              required/>
          </div>

          <div class="form-group">
            <label for="radius">Location</label>
            <input
              type="number"
              min = 0
              id="radius"
              class="form-control"
              ngModel
              name="radius"
              placeholder="Please input the radius in km of your Search"
              required/>
          </div>
        
        <div>
            <ng-select [items]="interests"
                bindLabel="name"
                placeholder="Select interests"
                appendTo="body"
                multiple="true"
                id="interests"
                ngModel
                name="interests">
            </ng-select>
        </div>
        
  
  
        <div>
          <button
            class="btn btn-primary"
            type="submit">
            Search
          </button>
        </div>
      </form>
    </div>
</div>
  <div class="col-6 offset-3">
    <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Interests</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let profile of profilesShown">
          <th scope="row">{{profile.id}}</th>
          <td  class="overflow-hidden">
            <img [src]="profile.profile_picture" class="mr-2" style="width: 20px">
            {{profile.username}} - {{profile.firstname}} {{profile.lastname}}
          </td>
          <td  class="overflow-hidden">{{ profile.description}}</td>
          <td  class="overflow-hidden">{{ profile.interests}}</td>
        </tr>
        </tbody>
      </table>
      
      <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshProfiles()">
        </ngb-pagination>
      
        <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshProfiles()">
          <option [ngValue]="10">10 items per page</option>
          <option [ngValue]="25">25 items per page</option>
          <option [ngValue]="50">50 items per page</option>
        </select>
      </div>
  </div>