<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Matcha</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item"
          [ngClass]="isActiveRoute('explore') ? 'active' : ''">
        <a class="nav-link"
           (click)="navigate($event, 'explore')">
          Explore<span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item"
          [ngClass]="isActiveRoute('profile') ? 'active' : ''">
        <a class="nav-link"
           (click)="navigate($event, 'profile')">
          Profile
        </a>
      </li>

      <li [hidden]="!isChatActive" class="nav-item d-inline-block" ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown1" role="button">
          Chat
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown">
          <router-outlet (activate)="onChatActivateEvent($event)"
                         (deactivate)="onChatDeactivateEvent($event)"
                         name="chat">
          </router-outlet>
        </div>
      </li>

      <ng-container *ngIf="isAuth()">
        <li [hidden]="!isNotificationActive" class="nav-item d-inline-block" ngbDropdown>
          <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown2" role="button">
            Notifications
          </a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdown">
            <router-outlet (activate)="onNotificationActivateEvent($event)"
                           (deactivate)="onNotificationDeactivateEvent($event)"
                           name="notification">
            </router-outlet>
          </div>
        </li>

        <li [hidden]="!isAuth()" class="nav-item"
            [ngClass]="isActiveRoute('logout') ? 'active' : ''">
          <a class="nav-link"
             (click)="navigate($event, 'logout')">
            Logout
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
