<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="chat.component.css">

    <title>Matcha</title>
</head>

<body>
    <!-- view container -->
    <div class="container-fluid d-flex justify-content-center">

        <!-- chat screen container -->
        <div id="chat-screen" class="row col-sm-12 col-md-8 col-lg-6">

            <!-- profile tray -->
            <div class="row profile-tray col-12 mx-auto justify-content-center">

                <!-- <img [src]="profile.profile_picture != null ? profile.profile_picture : profileAvatar" alt="profile picture"> -->
                <div class="profile-name my-auto overflow-hidden">
                    <h6 class="muted">{{username}}</h6>
                </div>
                <a class="return-icon float-right" href="#">
                    <i class="material-icons cursor-pointer">keyboard_arrow_left</i>
                </a>
            </div>

            <!-- chat area -->
            <div class="row chat-area col-12 mx-auto">

                <!-- chat history container (scrollable) -->
                <div class="container-fluid">

                    <!-- chat history display loop -->
                    <div *ngFor="let m of messageList">

                        <!-- sent texts -->
                        <div class="row no-gutters justify-content-end" *ngIf="id == m.author; else elseBlock">
                            <div class="col-10 ">
                                <div class="chat-bubble chat-bubble--right justify-content-end">
                                    <div class="timestamp-container text-center">
                                        <span class="timestamp ">
                                        {{m.date}}
                                    </span>
                                    </div>
                                    <span>
                                    {{m.content}}
                                    
                                </span>
                                </div>
                            </div>
                        </div>

                        <ng-template #elseBlock>
                            <!-- received texts -->
                            <div class="row no-gutters ">
                                <div class="col-10 ">
                                    <div class="chat-bubble chat-bubble--left">
                                        <div class="timestamp-container text-center">
                                            <span class="timestamp ">
                                            {{m.date}}
                                        </span>
                                        </div>
                                        <span>
                                        {{m.content}}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </div>
                </div>
                <a #messageBottom></a>
            </div>

            <!-- message input tray -->
            <div class=" muted row message-tray col-sm-12 col-md-8 col-lg-6 fixed-bottom mx-auto justify-content-center">
                <input class="muted" type="text" placeholder="Type your message here..." [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
                <a style="cursor: pointer" (click)="sendMessage()">
                    <i id="send-icon" class="material-icons cursor-pointer" onclick="sendMessage()">send</i>
                </a>
            </div>

        </div>
    </div>
</body>

</html>