.details-container {
  background: #eee;
  /* border: 2px solid darkred; */
  border-radius: 7px;
}

.edit-profile {
  background-color: lightgrey;
}

.optionDD {
  left: 0;
  overflow-y: scroll;
  max-height: 50vh;
  width: 100%;
}
