<div class="container-fluid">
  <div class="mr-3 ml-3">
    <div class="row profile-header p-4">
      <div class="col-3">
        <img src="http://dummyimage.com/184x124.jpg/5fa2dd/ffffff">
      </div>

      <div class="col-4">
        <h2>Name Surname</h2>
        <h3>Gender</h3>
        <p>Interested in sexualPreference</p>
      </div>

      <div class="offset-2 col-2">
        <h4>Fame : rating</h4>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12 profile-photos p-4">
        <h3>Photos</h3>
        <img class="mr-2" src="http://dummyimage.com/184x124.jpg/5fa2dd/ffffff">
        <img class="mr-2" src="http://dummyimage.com/184x124.jpg/5fa2dd/ffffff">
        <img class="mr-2" src="http://dummyimage.com/184x124.jpg/5fa2dd/ffffff">
        <img class="mr-2" src="http://dummyimage.com/184x124.jpg/5fa2dd/ffffff">
        <img class="mr-2" src="http://dummyimage.com/184x124.jpg/5fa2dd/ffffff">
      </div>

    </div>

    <div class="row">
      <div class="profile-details col-6 mt-3 p-4">
        <h3>Bio</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Pellentesque ac neque ligula. Mauris molestie tristique augue,
          id congue enim euismod sit amet. Proin vitae justo ut ligula scelerisque
          mattis. Integer at ligula bibendum, ornare mauris quis, tempor lorem.
          Fusce lorem odio, finibus quis egestas in, imperdiet ut enim. Duis a
          malesuada ante. Nullam tempor mi efficitur dolor tristique, vitae rutrum
          erat faucibus. Sed ut urna at justo interdum laoreet. Aenean ultrices
          lectus eleifend, rhoncus massa vitae, pretium ante. Maecenas sapien arcu,
          ullamcorper eu euismod quis, posuere nec arcu.
        </p>
      </div>

      <div class="interest-list col-6 mt-3 p-4">

        <h3>Interests</h3>

        <div class="row">
          <input class="ml-3 col-8 mr-2">
          <button class="col-3 btn-primary">Add Filter</button>
        </div>

        <br>

        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div>
</div>

