.profile-header {
  background-color: lightgrey;
}

.profile-photos {
  background-color: lightgrey;
}

.profile-details {
  background-color: lightgrey;
}

.interest-list {
  background-color: lightgrey;
}

.carousel-image {
  height: 10vw;
  width: 10vw;
}
