<div class="container-fluid">
    <div class=" mx-auto col-sm-12 col-md-8 col-lg-6">

      <app-profile-header [visitorMode]="visitorMode"
                          [editMode]="editMode"
                          [profile]="profile">

      </app-profile-header>

        <div class="row h-100 profile-photos-container no-gutters">
            <input type="file" accept="image/*" style="visibility: collapse" #inputImageUpload id="inputImageUpload" (change)="onImageSelected($event)" />
            <div class="col-12 mt-3 profile-photos h-100">
                <div class="row h-100">
                    <div class="col-3">
                        <h3>Photos</h3>
                    </div>
                    <div class="col-9 h-100 my-auto">
                        <button *ngIf="!visitorMode && (profile?.images?.length < 5 || selectedCarouselImage)" class="float-right my-auto" id="carouselUpdateImageButton" (mousedown)="onCarouselButtonEvent($event)" (click)="onCarouselButtonEvent($event)" [ngClass]="selectedCarouselImage ? 'btn-danger' : 'btn-primary'">
            {{selectedCarouselImage ? 'Remove' : 'Add'}}
                        </button>
                        <button *ngIf="!visitorMode && selectedCarouselImage" id="carouselProfileImageButton" (mousedown)="onCarouselButtonEvent($event)" (click)="onCarouselButtonEvent($event)" class="btn-secondary float-right my-auto mr-3">
            Make Profile Picture
                        </button>
                    </div>
                </div>
                <div class="row ml-1 mb-1">
                    <img *ngFor="let image of profile?.images" [ngClass]="selectedCarouselImage === image ? 'border border-info' : ''" class="mr-2 mb-2 carousel-image" [src]="image" [tabIndex]="0" (focusout)="!visitorMode ? onCarouselImageEvent($event, image) : null" (mousedown)="!visitorMode ? onCarouselImageEvent($event, image): null">
                </div>
            </div>
        </div>

        <div class="row bio-interests-tray h-100 row-eq-height mb-3">
          <div class="col-6">
            <div class="col-12 bio-container">
                <h4 class="bio-heading text-sm-center">Bio</h4>
                <p *ngIf="!editMode" class="bio text-justify"> {{profile.description}} </p>

                <div class="form-group">
                  <textarea [style.visibility]="editMode ? 'visible' : 'collapse'" #inputBioUpdate type="text" id="editBio" [value]="profile.description" class="form-control" rows="3"></textarea>
                </div>
            </div>
          </div>

          <div class="col-6">
            <div class="col-12 interest-container">
              <h4 class="interests-heading text-sm-center">
                Interests
              </h4>
              <div class="interests">
                <div *ngIf="editMode && !visitorMode">
                  <ng-select [items]="interests" bindLabel="name" placeholder="Select interests" appendTo="body" multiple="true" id="interests" [(ngModel)]="profile.interests" name="interests">
                  </ng-select>
                </div>
                <ul *ngIf="!editMode || visitorMode">
                  <li *ngFor="let interest of profile?.interests">
                    {{interest}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <app-personal-details *ngIf="!visitorMode"
                              [profile]="profile"
                              [editMode]="editMode">
        </app-personal-details>

    </div>
</div>
