body {
    /* border: 2px solid blue; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* profile photos */

.profile-photos-container {
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: 2px solid red; */
    background: #eee;
    padding: 10px 15px;
    border-radius: 7px;
}

.profile-photos-image-container {
    /* border: 10px solid royalblue; */
    height: 180px;
}

.profile-photos-image {
    height: 180px;
    width: 180px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 50%;
}

/*  */

.bio-interests-tray {
    /* border: 2px solid indianred; */
}

.bio-container {
  /* border: 2px solid red; */
  background: #eee;
  border-radius: 7px;
  height: 100%;
}

.bio-heading {
    padding-top: 10px;
}

.interest-container {
  /* border: 2px solid red; */
  height: 100%;
  background: #eee;
  border-radius: 7px;
}

.interests-heading {
    padding-top: 10px;
}

.interests {
    background: #eee;
}

.interest-list {
    margin: none;
    padding: 0px;
    list-style-type: none;
}

.interest {
    margin: 10px;
    max-width: 90%;
}

.interest-input-field {
    margin: 10px;
    width: 70%;
    border-radius: 7px;
}

.add-interest-button {
    margin: 10px;
    width: 20%;
    min-width: 100px;
    border-radius: 7px;
}

.carousel-image {
    height: 10vw;
    width: 10vw;
}
