<div class="container m-5 edit-profile">
  <div class="row">
    <div class="col-6 offset-3 mt-3 mb-3">
      <h4>Edit Profile</h4>
      <br>
      <form #authForm="ngForm">
        <div class="form-group">
          <label for="firstname">first name</label>
          <input
            type="text"
            id="firstname"
            class="form-control"
            ngModel
            name="firstname"
            required/>
        </div>

        <div class="form-group">
          <label for="lastname">last name</label>
          <input
            type="text"
            id="lastname"
            class="form-control"
            ngModel
            name="lastname"
            required/>
        </div>

        <div class="form-group">
          <label for="username">username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            ngModel
            name="username"
            required/>
        </div>

        <div class="form-group">
          <label for="email">email</label>
          <input
            type="email"
            id="email"
            class="form-control"
            ngModel
            name="email"
            required
            email/>
        </div>

        <div class="form-group">
          <label for="gender">gender</label>
          <div id="gender" name="gender">
            <label for="male">male</label>
            <input
              type="checkbox"
              id="male"
              class="form-check-inline"
              ngModel
              name="male"/>

            <label for="male">female</label>
            <input
              type="checkbox"
              id="female"
              class="form-check-inline"
              ngModel
              name="female"/>
            </div>
        </div>

        <div class="form-group">
          <label for="gender">sexual preference</label>
          <div id="sexualPreference" name="sexualPreference">
            <label for="malePreference">male</label>
            <input
              type="checkbox"
              id="malePreference"
              class="form-check-inline"
              ngModel
              name="malePreference"/>

            <label for="malePreference">female</label>
            <input
              type="checkbox"
              id="femalePreference"
              class="form-check-inline"
              ngModel
              name="femalePreference"/>

            <label for="bothPreference">both</label>
            <input
              type="checkbox"
              id="bothPreference"
              class="form-check-inline"
              ngModel
              name="bothPreference"/>
          </div>
        </div>

        <div class="form-group">
          <label for="firstname">biography</label>
          <textarea
            type="text"
            id="biography"
            class="form-control"
            ngModel
            name="biography"
            rows="3"></textarea>
        </div>

        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!authForm.valid">
            Save Info
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

