<div>
    <!-- <div>
        <div>Visits : {{notificationCounter.visits}}</div>
        <div>Likes: {{notificationCounter.likes}}</div>
        <div>Matches : {{notificationCounter.matches}}</div>
        <div>Messages : {{notificationCounter.messages}}</div>
    </div> -->
    
        <button class="primary" (click)="clearNotifications();">Clear Notifications</button>


    <div *ngFor = "let notification of notifications"(click)="routePage(notification);">
        <ngb-alert [type]="getType(notification.type)">
            {{notification.content}}
        </ngb-alert>
    </div>
</div>

