<div>
    <div>
        <div>Visits : {{notificationCounter.visits}}</div>
        <div>Likes: {{notificationCounter.likes}}</div>
        <div>Matches : {{notificationCounter.matches}}</div>
        <div>Messages : {{notificationCounter.messages}}</div>
    </div>
    

    <div *ngFor = "let notification of notifications">
        <ngb-alert [type]="getType(notification.type)" (click)="routePage(notification);"  (close)="removeNotification(notification);">
            {{notification.content}}
        </ngb-alert>
    </div>
</div>

